body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top center;
}
#bootserviceid span {
	color: #f6e636;
	margin-top: 0px;
	padding-top: 0px;
}
.boottagent1 {
	background-image: url(../img/btn_063.png);
}
.boothand .bootbeijin {
	width: 100%;
	height: 4.9vh;
}
.bootxuanqu table {
	width: 54%;
	text-align: left;
	position: relative;
	top: 49vh;
	background-image: url(../img/bg_d09.png);
	background-size: 100% 100%;
	font-size: 2.2vh;
	margin: 0px auto;
	white-space: nowrap;
}
.boothand .bootwenzhi {
	top: 0.6vh;
    right: 9.5vw;
    position: absolute;
}
#bootChoice {
	color: #35ea35;
	text-decoration: underline;
	text-align: right;
	padding-right: 0.5vw;
}
 .bootlogo {
	position: relative;
	top: 9vw;
    text-align: center;
    vertical-align: middle;
    
}
.bootdenglu {
    height: 111px;
    position: relative;
    top: 52.5vh;
}
*{
    margin: 0px;
    padding: 0px;
}
.boothand {
	background-image: url(../img/bg_028.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #2C2024;
	position: relative;
}
.bootbody {
	height: 100%;
	width: 570px;
	text-align: center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-size:100% auto;
	background-position: center;
	background-image: url(../img/bg_009.jpg);
	font-family: "黑体";
}
 
.bootbody .bootqufu {
	height: 100%;
	background-image: url(../img/bg_029.jpg);
	display: none;
}
#bootfanhui {
	padding-right: 10%;
	position: absolute;
	top: 88%;
	left: 58%;
}
 
  #boottime {
    float: right;
    margin-right: 4%;
}
 
.bootservers li {
	background-color: #000000;
	color: #b19c79;
	list-style-type: none;
	background-repeat: no-repeat;
	height: 50px;
	background-image: url(../img/btn_065(1).png);
	background-position: center;
	background-size:100% 100%;
	background-image: url(../img/btn_066.png);
	font-size: 2.5vh;
	margin-bottom: 4%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: left;
	padding-left: 2%;
	line-height: 4.5vh;
	
}
.bootservers span {
	margin-bottom: 2%;
	vertical-align: top;
}
 
.bootplatform {
    width: 40%;
    height: 100%;
    float: left;
    text-align:center;
    margin-top: 6%;
}
 
 
.bootarea {
    float: left;
    height: 100%;
    width: 60%;
    margin-top: 6%;
}
 
.bootbody .bootqufu .bootplatform .bootagent {
    text-align: center;
    list-style-type: disc;
    color: #999999;
}
 
.bootbody .bootxuanqu {
	width: 100%;
}
 
#bootgongao {
	float: right;
	margin-right: 1%;
	margin-top: 1%;
	width: 5vw;
	display: none;
}
.bootserviceid img {
	margin-top: 1%;
	text-align: left;
	
}
 
.bootplatform .bootagent li {
	list-style-type: none;
	background-image: url(../img/btn_062.png);
	height: 3.5vw;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 3%;
}
 
.box {
    position: 固定;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000000;
    background-position: 0;
}
.bootplatform .bootagent span {
	position: absolute;
	top: 18%;
	left: 20%;
	font-size: 1.5vw;
	color: #96672F;
}
 
.box1 {
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 25%;
    margin-left: -250px;
    border: 1px solid #663300;
    background-color: #000000;
    text-align: left;
}
 
* {
    margin: 0;
}
 
html, body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}
 
#body {
    width: 100%;
    height: 100%;
    background: #333333;
    position: relative;
}
 
#boot-box {
    width: 19.12rem;
    height: 11.61rem;
    background-image: url(../img/dlxz_01.png);
    background-size: 100% 100%;
    position: absolute;
    top: 26rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}
 
.boot-iconarr {
    display: flex;
    justify-content: space-between;
    width: 16.12rem;
    margin: 4.2rem 1.1rem 0;
}
 
.boot-icon {
    width: 3.73rem;
    height: 3.73rem;
    background-size: 100% 100%;
    cursor: pointer;
}
 
.boot-icon1 {
    background-image: url(../img/dlxz_02.png);
}
 
.boot-icon2 {
    background-image: url(../img/dlxz_03.png);
}
 
.boot-icon3 {
    background-image: url(../img/dlxz_04.png);
}
 
.boot-icon4 {
    background-image: url(../img/dlxz_05.png);
}
.bootservers img {
	vertical-align: top;
	margin-top: 0.3vh;
}
.bootservers .bootqizhi {
	float: right;
	margin-top: -3%;
}
#bootserviceid .bootqu1 {
	vertical-align: middle;
	width: 2.5vh
}
#bootserviceid #bootqu1 {
	margin-left: 5%;
}